absl-py==0.15.0
astor==0.8.1
bleach==1.5.0
certifi==2021.10.8
chardet==4.0.0
future==0.18.2
gast==0.5.3
grpcio==1.40.0
gym==0.10.5
html5lib==0.9999999
idna==2.10
importlib-metadata==2.1.3
-e git+https://github.com/openai/maddpg.git@3ceefa0ada3ff31d633dd0bde8ff95213ce99be3#egg=maddpg
Markdown==3.2.2
-e git+https://github.com/openai/multiagent-particle-envs.git@5405cc26f6d5698e224f8029351280b1d388ac0b#egg=multiagent
numpy==1.14.5
numpy-stl==2.16.3
protobuf==3.19.4
pyglet==1.4.11
python-utils==2.7.1
requests==2.25.1
six==1.16.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
urllib3==1.26.8
Werkzeug==1.0.1
zipp==1.2.0
